

:root {
    --primary-color:#014D97;
    --secondary-color:#FFD100;
}

*{
    margin: 0;
    padding: 0;

}

body {
    overflow-x: hidden;
    user-select: none;
    background: #ddd;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Raleway', sans-serif;
}
a {
    color: inherit;
}
a:hover {
    color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 20px;
    color: #03132b;
    font-size: 16px;
    line-height: 24px;
}

h2 {
    font-size: 50px;
    font-weight: 900;
    line-height: 56px;
}

p {
    margin: 0 0 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 26px;
}

.sperater {
    background-color: #fff;
}
/*Shared Styles */
.section {
    padding: 120px 0;
}
.section .section-text {
    text-align: center;
    margin-bottom: 15px;
}
.section .section-text p,
.section .section-text h3 {
    max-width: max-content;
    margin-right: auto;
    margin-left: auto;
    max-width: 60%;
}
.section .section-text h3 {
    color: #2B3A5E;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: -0.35px;
    margin-bottom: 20px;
}
.section .section-text p {
    /* font-size: 18px; */
    color: #3b3b3b;
    font-weight: 300;
}


@media screen and (min-width:1200px ) {
    .cc-container {
        padding: 0 60px;
        /* max-width: initial; */
        max-width: 90%;
    }
}

@media (min-width: 992px){
.cc-container {
    max-width: 98%;
}
}


@media (min-width: 1600px){
    .cc-container {
        max-width: 1420px;
    }
}

@media screen and (max-width:600px) {
    .section .section-text p,
    .section .section-text h3 {
        max-width: 80%!important;
    }
    .section .section-text h3 {
        font-size: 28px;
    }

}
    

/* Top Header Container Styles */
.top-header {
    background: #fff;
    padding: 12px 0;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
.top-header > .container {
    overflow: hidden;
}

/* Full Navbar Styles */ 

.full-navbar {
    padding: 0;
}


/* List Items Style */

.main-navbar .logo img {
    height: 44px;
}
.main-navbar .nav-item {
    margin-right: 20px;
}
.main-navbar .nav-item .nav-link{
    font-size: 18px;
    transition: .3s color;
    position: relative;
    overflow: hidden
}
.main-navbar .nav-item .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: .25s all ease-in-out;
    transform: translateX(-100%);
}

.main-navbar .nav-item.active  .nav-link::after ,
.main-navbar .nav-item:hover .nav-link::after  {
    transform: translateX(0%);
}

/* Login Sign-up Styles */
.account-options {
    display: flex;
    align-items: center;
    justify-content: center;
}


.account-options .acc-btn  {
    display: inline-block;
    /* background:  var(--primary-color); */
    font-size: 14px;
    color: #333;
    /*padding: 8px 20px;*/
    padding: 10px 15px;
    border-radius: 30px;
    position: relative;
    margin-left: 6px;
    letter-spacing: 1px;
    transition: .2s all ease-in-out;
}
.account-options .acc-btn.login-btn i {
    margin-right: 5px;
}
.account-options .acc-btn:hover {
    color:  var(--primary-color);
}

.account-options .acc-btn.listing-btn {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-left: 10px;
}
.account-options .acc-btn.listing-btn i {
    margin-left: 2px;
}
a:hover{
    text-decoration: none;
}

/* Slide Right NavBar*/

.right-nav {
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    height: 100vh;
    width: 100%;
    z-index: 200;
    transform: translateX(100%);
    overflow: hidden;
}
.right-nav.animated{
    transition: .5s all;
}
.right-nav .logo a {
    display: block;
}
.right-nav .logo img{
    height: 55px;
    max-width:75% ;
}

.right-nav.show {
    transform: translateX(0%);
}
.right-nav .nav-header {
    padding: 15px 20px;
    /* text-align: right; */
}

.right-nav .nav-menu {
    padding: 15px 20px;
    /* text-align: right; */
    
}
.right-nav .nav-menu li{
    border-bottom: 1px solid #00000021;
}
.right-nav .nav-menu li a{
    color: rgba(0, 0, 0, 0.76);
}

/* hamburger btn */ 

.right-nav .show-btn{
    position: absolute;
    top: 20px;
    right: 20px;
}



.hamb-btn {
    width: 30px;
    height: 45px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamb-btn span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #000000a6;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.hamb-btn span:nth-child(1) {
    top: 0px;
}

.hamb-btn span:nth-child(2) {
    top: 8px;
}

.hamb-btn span:nth-child(3) {
    top: 16px;
}


.hamb-btn.open span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.hamb-btn.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.hamb-btn.open span:nth-child(3) {
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/* Override botstrap navabr toggler */
.navbar-toggler{
    border: none!important;
    outline: none!important;
}

  
/* our story section */

.story-section {
    padding-bottom: 80px!important;
}
.story-section h6 {
    text-transform: uppercase;
    color: var(--secondary-color);
}
.story-section .bottom-bar .name-position{
    border-right: 1px solid #333;
}
.story-section .bottom-bar .name-position p {
   margin-bottom: 0;
}
.story-section .bottom-bar .name-position h5 {
    margin-bottom: 5px;
}
.story-section .bottom-bar ul li {
    display: inline-block;
}
.story-section .bottom-bar ul li a{
    font-size: 24px;
    padding: 5px;
    margin-right: 5px;
    transition: .15s all;
}
.story-section .bottom-bar ul li a:hover{
    color: var(--secondary-color);
}
.story-section .feature-image {
    position: relative;
}
.story-section .cercle-overlay {
    position: absolute;
    height: 180px;
    width: 180px;
    bottom: -45px;
    left: -90px;
    background: linear-gradient(to right,#014c97a9,#014c97a9), url('../img/home/story.jpg') ;
    border-radius: 50%;
    background-size: cover;
    padding: 45px 35px 0;
}
.story-section .cercle-overlay h6 {
    font-size: 34px;
    font-weight: bolder;
    margin-bottom: 4px;
}
.story-section .cercle-overlay p {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 2px;
}

/* partners section */
.partners-carousel .item-inner {
    text-align: center;
}
.partners-carousel .item-inner img {
    max-height: 90px;
    max-width: 100%;
    display: inline-block;
    object-fit: contain;
}